<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  
  <script  src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
   
  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template contains 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
{% include 'bold-product' with product, hide_action: 'header' %}

<script>window.mlvedaShopCurrency = "{{ shop.currency }}";
window.shopCurrency = "{{ shop.currency }}";
window.supported_currencies = "{{ settings.supported_currencies }}";
</script>
<!-- RetentionScience start -->
<script type="text/javascript">
  var _rsq = _rsq || [];
  _rsq.push(['_setSiteId', '476']); // replace site_id with your static Site ID
  _rsq.push(['_enableOnsite']);

  {% if customer %}
    _rsq.push(['_setUserId', '{{ customer.id }}']);
    _rsq.push(['_setUserEmail', '{{ customer.email }}']);
  {% endif %}

  /*** EVENT SPECIFIC CODE ***/
  {% if template == 'product' and product %}
    _rsq.push(['_addItem', { 'id':'{{ product.id }}' }]);
  {% endif %}

  {% if template == 'cart' %}
    {% for item in cart.items %}
      _rsq.push(['_addItem', { 'id':'{{ item.id }}', 'name':'{{ item.title }}', 'price':'{{ item.price | money_without_currency }}' }]);
    {% endfor %}
    _rsq.push(['_setAction', 'shopping_cart']);
  {% endif %}

  {% if template == 'search' and search.performed %}
      _rsq.push(['_setAction', 'search']) ;
       _rsq.push(['_setParams', { 'term': '{{ search.terms }}'}]);
  {% endif %}

  _rsq.push(['_track']);
  /*** END EVENT SPECIFIC CODE ***/

  /*** FUNCTION FOR AJAX TRACKING ***/
  var _rs_ajax = {};
  _rs_ajax.updateCart = function() {
    jQuery.getJSON('/cart.js', function (cart, textStatus) {
      for(var i = 0; i < cart.items.length; i++) {
        var cartItem = cart.items[i];
        var price = cartItem.price / 100;

        _rsq.push(['_addItem', { 'id':cartItem.id.toString(), 'name':cartItem.title.toString(),'price':price.toFixed(2).toString() }]);
      }
      _rsq.push(['_setAction', 'shopping_cart']);
      _rsq.push(['_track']);
    });
  };
  /*** END FUNCTION FOR AJAX TRACKING ***/

  (function() {
     var rScix = document.createElement('script');
     rScix.type = 'text/javascript';
     rScix.async = true;
     rScix.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'd1stxfv94hrhia.cloudfront.net/waves/v2/w.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(rScix);
  })();
</script>
<!-- RetentionScience end -->
</head>

<body id="{{ page_title | handle }}" class="template-{{ template | split: '.' | first }} {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
        </button>
      </div>
    </div>
  </div>

  <div id="CartDrawer" class="cartdrawer drawer--right">
    <div class="grid grid--no-gutters grid--table cartdrawer__header">
      <div class="grid__item">
        <button type="button" class="btn--link cartdrawer__cart-close js-drawer-close">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 37 40"><path d="M21.3 23l11-11c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-11 11-11-11c-.8-.8-2-.8-2.8 0-.8.8-.8 2 0 2.8l11 11-11 11c-.8.8-.8 2 0 2.8.4.4.9.6 1.4.6s1-.2 1.4-.6l11-11 11 11c.4.4.9.6 1.4.6s1-.2 1.4-.6c.8-.8.8-2 0-2.8l-11-11z"></path></svg>
        </button>
      </div>
      <div class="grid__item text-center">
        <h6 class="cartdrawer__cart-title">{{ 'cart.general.title' | t }} (<span id="CartCountD"></span>)</h6>
      </div>
      <div class="grid__item text-right">
          <a class="cartdrawer__cart-icon js-drawer-close">
            {% include 'icon-cart' %}
          </a>
      </div>
    </div>
    <div id="CartContainer"></div>
    <!--div class="ajaxcartContent">
      <div class="ajaxcartContent__head">
        Returns + Exchnages
      </div>
      <div class="ajaxcartContent__head">
        Shipping
      </div>
    </div-->
  </div>

  {% section 'header' %}

  <div class="page-container" id="PageContainer">

    <main class="main-content" id="MainContent" role="main">
      {% include 'mlveda-currencies-switcher' %}
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>

{% include 'mlveda-currencies' %}
{% include 'special-offers' %}

{{ 'fastclick.min.js' | asset_url | script_tag }}
{{ 'timber.js' | asset_url | script_tag }}

{{ 'handlebars.min.js' | asset_url | script_tag }}
{% include 'ajax-cart-template' %}
{{ 'ajax-cart.js' | asset_url | script_tag }}

<script>

  jQuery(function($) {

    console.log(timber);

    ajaxCart.init({
      cartContainer: '#CartContainer',
      addToCartSelector: '#AddToCart-product-template',
      cartCountSelector: '#CartCount, #CartCountD',
      cartCostSelector: '#CartCost',
      moneyFormat: {{ shop.money_format | json }}
    });
  });

  jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
     _rs_ajax.updateCart();
    timber.RightDrawer.open();
  });
</script>

<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END --><script src="//www.codeblackbelt.com/js/modules/shipping-rates-calculator-plus/main.min.js?shop=spinnercraft.myshopify.com"></script>
<script src="//www.codeblackbelt.com/js/modules/also-bought/main.min.js?shop=spinnercraft.myshopify.com"></script>

</body>
</html>
