{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template contains 'article'
  or template contains 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">
  <div class="site-footer__row">
    <div class="footer-width">
      <div class="grid grid--uniform grid--view-items" style="overflow: inherit;">
        <div class="grid__item small--one-whole medium--one-half large-up--seven-twelfths">
            <ul class="site-footer__linklist site-footer__linklist--center">
              <li class="site-footer__linklist-item"><h5>Shop</h5></li>
              {% for link in linklists.footer-shop.links %}
                <li class="site-footer__linklist-item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
            <ul class="site-footer__linklist site-footer__linklist--center">
              <li class="site-footer__linklist-item"><h5>About</h5></li>
              {% for link in linklists.footer-about.links %}
                <li class="site-footer__linklist-item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
            <ul class="site-footer__linklist site-footer__linklist--center">
              <li class="site-footer__linklist-item"><h5>Support</h5></li>
              {% for link in linklists.footer-support.links %}
                <li class="site-footer__linklist-item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
        </div>
        <div class="grid__item small--one-whole medium--one-half large-up--five-twelfths">
        {% if section.settings.footer_newsletter_enable %}
          <div class="site-footer__newsletter">
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
              {% else %}
                <label for="Email" class="h5">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                <div class="input-group">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="email"
                    name="contact[email]"
                    id="Email"
                    class="input-group__field newsletter__input"
                    value="{% if customer %}{{ customer.email }}{% endif %}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    autocorrect="off"
                    autocapitalize="off">
                  <span class="input-group__btn">
                    <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                      <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                    </button>
                  </span>
                </div>
              {% endif %}
            {% endform %}
          </div>
        {% endif %}
       
        {% if social_icons %}
          <div>
            <ul class="list--inline site-footer__social-icons social-icons">
              {% if settings.social_facebook_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                    {% include 'icon-facebook' %}
                  </a>
                </li>
              {% endif %}
              {% if settings.social_twitter_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                    {% include 'icon-twitter' %}
                  </a>
                </li>
              {% endif %}
              {% if settings.social_pinterest_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                    {% include 'icon-pinterest' %}
                  </a>
                </li>
              {% endif %}
              {% if settings.social_instagram_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                    {% include 'icon-instagram' %}
                  </a>
                </li>
              {% endif %}
              {% if settings.social_tumblr_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                    {% include 'icon-tumblr' %}
                  </a>
                </li>
              {% endif %}
              {% if settings.social_snapchat_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                    {% include 'icon-snapchat' %}
                  </a>
                </li>
              {% endif %}
              {% if settings.social_youtube_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                    {% include 'icon-youtube' %}
                  </a>
                </li>
              {% endif %}
              {% if settings.social_vimeo_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                    {% include 'icon-vimeo' %}
                  </a>
                </li>
              {% endif %}
              {% if template contains 'blog' or template contains 'article' %}
                <li>
                  <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                    {% include 'icon-rss' %}
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}

        </div>
      </div>
    </div>
  </div>
  <div class="site-footer__row site-footer__row--bgdark">
    {% if social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
      <div class="site-footer__copyright--bottom">
        <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small>
      </div>
    {% endif %}

    <div class="site-footer__copyright--nav">
      <a href="/pages/privacy">Privacy</a>
      <a href="/pages/terms">terms</a>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
