{% if section.settings.message %}
<meta name="p:domain_verify" content="2e82d7387e314feda76c557473cead57"/>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5029502125856165",
    enable_page_level_ads: true
  });
</script>
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section">

<header class="c-header">

    <div class="c-headerBar u-clearFix u-textCenter">
        <div class="o-wrapper">

            <ul class="c-topNav u-hideMobile u-floatLeft">
                {% for link in linklists.top-bar-menu.links %}
                <li class="c-topNav__item">
                    <a class="c-topNav__link" href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>

            {% if section.settings.message %}
                {% if section.settings.message_link != blank %}
                    <a class="c-headerBar__message" href="{{ section.settings.message_link }}" class="notification-bar__message">
                    {{ section.settings.message_text | escape }}
                    </a>
                {% else %}
                <p class="c-headerBar__message u-floatRight">{{ section.settings.message_text | escape }}</p>
                {% endif %}
            {% endif %}

        </div>
    </div>

    <div class="c-headerMain u-rel js-header">

    <div class="c-header__overlay">
    </div>
    <div class="o-wrapper u-flex u-flexCenter u-heightfull">
        
        <div class="c-headerMain__left u-flexGrow_1 ">
            <div class="c-logo u-flexCenterTab">
                <a class="u-hideDesktop" href="/">
                    {% include 'icon-new-logo-mobile' %}
                </a>
                <a class="u-hideMobile" href="/">
                    {% include 'icon-new-logo' %}
                </a>
            </div>
        </div>

        <div class="c-headerMain__center u-flexGrow_1">
            
            <div class="c-hamMenu u-hideDesktop js-drawer-open-left">
                <span class="c-hamMenu__tile u-rel"></span>
            </div>
            
            <div class="c-headerNav js-drawer-left">
                
                <div class="c-headerNav__close u-textRight u-hideDesktop">
                    <span class="c-headerNav__closeIcon js-drawer-close-left">
                        {% include 'icon-new-close' %}
                    </span>
                </div>

                <ul class="c-headerNav__list">
                    {% for link in linklists.primary-navigation.links %}
                    {% assign child_list_handle = link.title | handle %}
                    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
                    <li class="c-headerNav__item has-dropdown js-dropdown u-bold">
                        <a class="c-headerNav__link js-subNavOpen u-block" href="{{ link.url }}">{{ link.title }}</a>
                        
                        <ul class="c-headerSubMenu js-subNav">
                        {% for child_link in linklists[child_list_handle].links %}
                            <li class="c-headerSubMenu__item u-regular">
                                <a class="u-black" href="{{ child_link.url }}">{{ child_link.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li {% if link.title == "All Spinners" %}
                        class="c-headerNav__border c-headerNav__item u-bold u-rel"
                        {% endif %}
                        class="c-headerNav__item u-bold u-rel">
                        <a class="c-headerNav__link" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endif %}
                {% endfor %}
                </ul>
                
                <div class="c-headerNav__external u-hideDesktop">
                    <ul>
                        <li class="c-headerNav__externalItem">
                            {% if shop.customer_accounts_enabled %}
                            {% if customer %}
                            <a class="c-headerNav__externalLink" href="/account">
                                {{ 'layout.customer.account' | t }}
                            </a>
                            {% else %}
                            <a class="c-headerNav__externalLink" href="/account/login">
                                Login
                            </a>
                            {% endif %}
                            {% endif %}
                        </li>
                    {% for link in linklists.top-bar-menu.links %}
                        <li class="c-headerNav__externalItem">
                            <a class="c-headerNav__externalLink" href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="c-headerMain__right u-flex u-flexGrow_1 u-textCenter">

            <div class="c-headerMain__search u-flexGrow_1 js-Search u-rel">
                <form class="c-headerMain__search" action="/search" method="get" role="search">
                    <button class="c-headerMain__searchBtn" type="submit">
                        {% include 'icon-search' %}
                    </button>
                    <input class="js-searchBar c-search" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
                </form>
            </div>

            <div class="c-headerMain__user u-flexGrow_1">
                {% if shop.customer_accounts_enabled %}
                {% if customer %}
                <a href="/account">
                    {{ 'layout.customer.account' | t }}
                </a>
                {% else %}
                <a href="/account/login" class="">
                    {% include 'icon-new-user' %}
                </a>
                {% endif %}
                {% endif %}
            </div>

            <div class="c-headerMain__cart u-flexGrow_1">
                <a class="js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                    {% include 'icon-new-cart' %}
                    <span class="c-header__cart__count u-bold u-floatLeft">
                        <span id="CartCount">{{ cart.item_count }}</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</header>

  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
  </nav>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Announcement color",
        "default": "#7796A8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Announcement text color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
