</div>

<div class="c-marketing">
    
    <div class="c-marketingHero">
        <div class="o-wrapper">
            <div class="c-marketingHero__left">
                <h3 class="c-marketingHero__tag">From beginners to expert, step by step</h3>
                <h2 class="c-marketingHero__title">Your how to guide on fidget spinner tricks.</h2>
                <h4 class="c-marketingHero__subTitle">Learn the tricks from our Spinnercraft pro team</h4>
                <a class="c-marketingHero__btn c-btn c-btn--cap" href="/">Sign up for free</a>
            </div>
        </div>
    </div>

    <div class="c-marketingSpiner">
        <div class="o-wrapper">
            <h2 class="c-marketing__secTitle">Recommended<br/>Spinners</h2>
            <div class="c-marketingSpiner__slider">


                 <div class="js-blogSlider u-textCenter">
                    
                        {% for product in collections.fidget-spinner-full-collection.products %}

                            {% if product.tags contains 'Jack Hazard' %}
                                <div class="c-blogAuthor__recomendBlock">
                                    <a href="{{ product.url }}">
                                        <img src="{{ product.handle | append: '.png' | asset_url }}" alt="{{ product.title }}" onError="style.display = 'none';" />

                                        <h3 class="c-blogAuthor__subTitle c-blogAuthor__subTitle--slider">{{ product.price | money }}</h3>
                                    </a>
                                </div> 
                            {% endif %} 

                        {% endfor %}
                      

                </div>
            </div>
        </div>
    </div>

    <div class="c-marketingSignUp u-textCenter">
        <div class="o-wrapper">
            <h2 class="c-marketingSignUp__title">Fidget trick spinning is a sport.</h2>
            <p class="c-marketingSignUp__copy">It takes a lot of focus, patience, and skill to do these<br/> tricks. Instead of spending 30-40 hours trying to figure it<br/> out on your own </p>
            <p><strong>- let our guides help you figure it out faster!</strong></p>

            <form class="c-marketingSignUp__form">
                <div class="c-footerLetter">
                {% form 'customer' %}
                  {{ form.errors | default_errors }}
                  {% if form.posted_successfully? %}
                    <p class="u-bold u-black">{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% else %}
                    <div class="c-footerInput u-flex">
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <input type="email"
                        name="contact[email]"
                        id="Email"
                        class="c-footerInput__item"
                        value="{% if customer %}{{ customer.email }}{% endif %}"
                        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        autocorrect="off"
                        autocapitalize="off">
                        <button type="submit" class="c-btn c-btn--black c-footerInput__btn" name="commit" id="Subscribe">
                          Sign Up
                        </button>
                    </div>
                  {% endif %}
                {% endform %}
              </div>
                pro-placeholder.jpg

            </form>
            <h4 class="c-marketingSignUp__tag">Sign up to get the complete collection of tricks </h4>
        </div>
    </div>

    <div class="c-marketingPro">
        <div class="o-wrapper">
            <h2 class="c-marketing__secTitle">PRO TEAM</h2>
            <div class="o-grid">
                <div class="o-grid__3-12">
                    <div class="c-marketingPro__media">

                           {{ 'pro-placeholder.jpg' | asset_url | img_tag }}
                    </div>
                    <div class="c-marketingPro__content">
                        <h3 class="c-marketingPro__name">Keresnyei Vince, CA</h3>
                        <p class="c-marketingPro__copy">Everyone's doing quads but I've landed the first quint drop kick.</p>
                    </div>
                    <div class="c-marketingPro__product">
                        <div class="c-marketingPro__productContent">
                            <h4 class="c-marketingPro__tag">My favorite Spinner</h4>
                            <h3 class="c-marketingPro__productName">
                                Beatz Bluetooth LED Spinner
                            </h3>
                        </div>
                        <div class="c-marketingPro__productImg">
                            {{ 'product-placeholder.jpg' | asset_url | img_tag }}
                        </div>
                    </div>
                </div>
                <div class="o-grid__3-12">
                    <div class="c-marketingPro__media">
                         {{ 'pro-placeholder.jpg' | asset_url | img_tag }}
                    </div>
                    <div class="c-marketingPro__content">
                        <h3 class="c-marketingPro__name">Keresnyei Vince, CA</h3>
                        <p class="c-marketingPro__copy">Everyone's doing quads but I've landed the first quint drop kick.</p>
                    </div>
                    <div class="c-marketingPro__product">
                         <div class="c-marketingPro__productContent">
                            <h4 class="c-marketingPro__tag">My favorite Spinner</h4>
                            <h3 class="c-marketingPro__productName">
                                Beatz Bluetooth LED Spinner
                            </h3>
                        </div>
                        <div class="c-marketingPro__productImg">
                            {{ 'product-placeholder.jpg' | asset_url | img_tag }}
                        </div>
                    </div>
                </div>
                <div class="o-grid__3-12">
                    <div class="c-marketingPro__media">
                         {{ 'pro-placeholder.jpg' | asset_url | img_tag }}
                    </div>
                    <div class="c-marketingPro__content">
                        <h3 class="c-marketingPro__name">Keresnyei Vince, CA</h3>
                        <p class="c-marketingPro__copy">Everyone's doing quads but I've landed the first quint drop kick.</p>
                    </div>
                    <div class="c-marketingPro__product">
                         <div class="c-marketingPro__productContent">
                            <h4 class="c-marketingPro__tag">My favorite Spinner</h4>
                            <h3 class="c-marketingPro__productName">
                                Beatz Bluetooth LED Spinner
                            </h3>
                        </div>
                        <div class="c-marketingPro__productImg">
                            {{ 'product-placeholder.jpg' | asset_url | img_tag }}
                        </div>
                    </div>
                </div>
                <div class="o-grid__3-12">
                    <div class="c-marketingPro__media">
                         {{ 'pro-placeholder.jpg' | asset_url | img_tag }}
                    </div>
                    <div class="c-marketingPro__content">
                        <h3 class="c-marketingPro__name">Keresnyei Vince, CA</h3>
                        <p class="c-marketingPro__copy">Everyone's doing quads but I've landed the first quint drop kick.</p>
                    </div>
                    <div class="c-marketingPro__product">
                        <div class="c-marketingPro__productContent">
                            <h4 class="c-marketingPro__tag">My favorite Spinner</h4>
                            <h3 class="c-marketingPro__productName">
                                Beatz Bluetooth LED Spinner
                            </h3>
                        </div>
                        <div class="c-marketingPro__productImg">
                            {{ 'product-placeholder.jpg' | asset_url | img_tag }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-marketingGive">
        <div class="o-wrapper">
            <div class="c-marketingGive__content">
                <h2 class="c-marketingGive__title">Free giveaways and much more !</h2>
                 <form class="c-marketingSignUp__form">

                    

                </form>
                <h4 class="c-marketingSignUp__tag">Sign up to get the complete collection of tricks </h4>
            </div>
            <div class="c-marketingGive__media">

            </div>
            <div class="c-marketingGive__bottom o-grid">
                <div class="o-grid__4-12">
                    <div class="c-marketingGive__bottomMedia">
                    </div>
                    <h4 class="c-marketingGive__bottomTitle">Be the first one to learn tricks from pro author</h4>
                </div>
                <div class="o-grid__4-12">
                    <div class="c-marketingGive__bottomMedia">
                    </div>
                    <h4 class="c-marketingGive__bottomTitle">Be the first one to learn tricks from pro author</h4>
                </div>
                <div class="o-grid__4-12">
                    <div class="c-marketingGive__bottomMedia">
                    </div>
                    <h4 class="c-marketingGive__bottomTitle">Be the first one to learn tricks from pro author</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="c-marketingSubmit">
        <div class="o-wrapper">
            <h2 class="c-marketingSubmit__title">Have some tricks up your sleeve ?</h2>
            <a class="c-marketingSubmit__btn" href="/">Submit here</a>
        </div>
    </div>

    <div class="c-marketing__proInfo">
        <p>The PRO's who have founded and created these tricks took a lot of time out of their days to put these tutorials together for you. We like to thank them immensely for their contribution. </p>
    </div>
</div>